 <div class="d-flex justify-content-center " style="margin-top: 40px; background-color: aqua;"> -->


    <div class="" >

        <div class="d-flex justify-content-center align-items-center card-container" >
          <!-- Mitad Superior -->
          <div style="width: 100%; height: 50%; background-color: rgba(128, 128, 128, 0.512); position: absolute; top: 0; "></div>
        
          <!-- Mitad Inferior -->
          <div style="width: 100%; height: 50%; background-color: rgba(128, 128, 128, 0.219); position: absolute; bottom: 0;"></div>
        
          <!-- Contenido en el centro -->
          <span class="text-inputs">
            <!-- {{ getDays(sessionTimeRemaining) }} -->
          </span>
        </div>
        <span class="types"> Días</span>
    </div>

    <div class="" style="margin-left: 20px;">

      <div class="d-flex justify-content-center align-items-center card-container" >
        <!-- Mitad Superior -->
        <div style="width: 100%; height: 50%; background-color: rgba(128, 128, 128, 0.512); position: absolute; top: 0; "></div>
      
        <!-- Mitad Inferior -->
        <div style="width: 100%; height: 50%; background-color: rgba(128, 128, 128, 0.219); position: absolute; bottom: 0;"></div>
      
        <!-- Contenido en el centro -->
        <span class="text-inputs">
          <!-- {{ getHours(sessionTimeRemaining) }} -->
        </span>

      </div>
      <span class="types"> Hs</span>
    </div>

    <div class="" style="margin-left: 20px;">

      <div class="d-flex justify-content-center align-items-center card-container" >
        <!-- Mitad Superior -->
        <div style="width: 100%; height: 50%; background-color: rgba(128, 128, 128, 0.512); position: absolute; top: 0; "></div>
      
        <!-- Mitad Inferior -->
        <div style="width: 100%; height: 50%; background-color: rgba(128, 128, 128, 0.219); position: absolute; bottom: 0;"></div>
      
        <!-- Contenido en el centro -->
        <span class="text-inputs">
          <!-- {{ getMinutes(sessionTimeRemaining) }} -->
        </span>

      </div>
      <span class="types"> Min</span>
    </div>

    <div class="d-flex justify-content-center align-items-center" style="margin-left: 20px;">

      <div class="d-flex justify-content-center align-items-center card-container" >
        <!-- Mitad Superior -->
        <div style="width: 100%; height: 50%; background-color: rgba(128, 128, 128, 0.512); position: absolute; top: 0; "></div>
      
        <!-- Mitad Inferior -->
        <div style="width: 100%; height: 50%; background-color: rgba(128, 128, 128, 0.219); position: absolute; bottom: 0;"></div>
      
        <!-- Contenido en el centro -->
        <span class="text-inputs">
          <!-- {{ getSeconds(sessionTimeRemaining) }} -->
        </span>

      </div>
        <span class="types"> Seg</span>
    </div>

    
  </div> 
